{% extends "genlib_templates/admin_index.html" %}
{% block index-extras %}
<div>
  <h2>Instructions & Tips</h2>
  <ul>
    <li>To initialize an LDAP account without requiring the user to log
    in, use the <b>add username</b> option on the 
    <a href="{% url admin:emory_ldap_emoryldapuserprofile_changelist %}">emory 
    ldap profile management page</a>.</li>
    <li>To give someone <b>repository editor</b> permissions, select the
    user on the <a href="{% url admin:auth_user_changelist %}">Users</a>
    management page and add them to the <b>Repository Editor</b> group.</li>
  </ul>
</div>
{% endblock %}
