#logged-in {
    float:right;
}
#logged-in a {
    font-weight: bold;
}
.sw-version {
    text-align: right
}
input[type='text'], textarea {
    width: 100%;
}
input.readonly {
    border:0px;
}
/* make subform headings look like form labels */
.subform .label {
    font: bold 1.16667em/14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color:#3e6280;
    margin-bottom: 0px;
}