{% extends 'site_base.html' %}

{% block content-body %}
 {{ block.super }}

<div>
  <p>What would you like to do today?</p>
    <ul>
      {% if perms.collection.add_collection %}
        <li><a href="{% url collection:new %}">Create a new collection</a></li>
      {% endif %}
      <li><a href="{% url collection:list %}">Browse existing collections</a></li>
      {# TODO: ingest permissions check #}
      <li><a href="{% url file:ingest %}">Ingest a file</a></li>
    </ul>
</div>

{% endblock %}
