{% extends 'collection/base.html' %}
{% load fedora %}

{% block content-title %}Collections{% endblock %}

{% block content-body %}
  <ul>
  {% for coll in colls %}  
    {% fedora_access %}
     <li>
       <a href="{% url collection:view coll.pid %}">{{ coll.label|default:'[no title]' }}</a>
       {% if perms.collection.change_collection %}
          <a href="{% url collection:edit coll.pid %}">edit</a></p>
       {% endif %}
     </li>
    {% permission_denied %}
    {% fedora_failed %}
    {% end_fedora_access %}
  {% empty %}
   <li>No collections found.</li>
  {% endfor %}
  </ul>
{% endblock %}