{% extends 'collection/base.html' %}

{% block page-subtitle %}{{ block.super }} : {{ obj.label }} {% endblock %}
{% block content-title %}{{ obj.label }}{% endblock %}

{% block content-body %}
    <p>Created {{ obj.created }}; last modified {{ obj.modified }}</p>
    <p>{{ obj.dc.content.description|default:'' }}</p>

    {% if perms.collection.change_collection %}
       <p><a href="{% url collection:edit obj.pid %}">edit</a></p>
    {% endif %}

    {% if perms.file.add_file %}
       <p><a href="{% url file:ingest %}?collection={{ obj.uri }}">Add files to this collection</a></p>
    {% endif %}

{% endblock %}