{% extends 'collection/base.html' %}
{% load fedora %}

{% block page-subtitle %}{{ block.super }} : {{ obj.label }} {% endblock %}
{% block content-title %}{{ obj.label }}{% endblock %}

{% block content-body %}
    <p>Created {{ obj.created }}; last modified {{ obj.modified }}</p>
    <p>{{ obj.dc.content.description|default:'' }}</p>

    {% if perms.collection.change_collection %}
       <p><a href="{% url collection:edit obj.pid %}">edit</a></p>
    {% endif %}
    {% if perms.file.add_file %}
       <p><a href="{% url file:ingest %}?collection={{ obj.uri }}">Add files to this collection</a></p>
    {% endif %}
    
    <ul>
    {% for item in obj.members %}
      <li>
        {% fedora_access %}
          <a href="{% url file:view item.pid %}">{% firstof item.label item.pid %}</a>
          {% if perms.file.change_file %}
             <a href="{% url file:edit item.pid %}">edit</a>
          {% endif %}
        {% end_fedora_access %}
      </li>
    {% endfor %}
    </ul>


{% endblock %}